In [1]:
import pandas as pd

# Load processed dataset
df = pd.read_csv("C:/Users/shruti/Documents/mumbai-local-trains-crowd-density-prediction/data/raw/mumbai_local_crowd_data.csv")

# Check data
print(df.shape)
df.head()

(1848, 7)

      line  station  hour day_of_week  is_weekend  is_peak_hour crowd_level
0  Western  Andheri     0      Monday           0             0         Low
1  Western  Andheri     1      Monday           0             0         Low
2  Western  Andheri     2      Monday           0             0         Low
3  Western  Andheri     3      Monday           0             0         Low
4  Western  Andheri     4      Monday           0             0         Low

Create time-based features

In [2]:
# Morning (6–11)
df["is_morning"] = df["hour"].apply(lambda x: 1 if 6 <= x <= 11 else 0)

# Evening (17–22)
df["is_evening"] = df["hour"].apply(lambda x: 1 if 17 <= x <= 22 else 0)

# Office hours (9–18)
df["is_office_hour"] = df["hour"].apply(lambda x: 1 if 9 <= x <= 18 else 0)

df[["hour", "is_morning", "is_evening", "is_office_hour"]].head(10)

   hour  is_morning  is_evening  is_office_hour
0     0           0           0               0
1     1           0           0               0
2     2           0           0               0
3     3           0           0               0
4     4           0           0               0
5     5           0           0               0
6     6           1           0               0
7     7           1           0               0
8     8           1           0               0
9     9           1           0               1

Peak hour flag

In [3]:
df["is_peak_hour"] = df["hour"].apply(
    lambda x: 1 if (8 <= x <= 10 or 18 <= x <= 21) else 0
)

df[["hour", "is_peak_hour"]].head(10)

   hour  is_peak_hour
0     0             0
1     1             0
2     2             0
3     3             0
4     4             0
5     5             0
6     6             0
7     7             0
8     8             1
9     9             1

Weekend Flag

In [4]:
# Weekend flag
df["is_weekend"] = df["day_of_week"].apply(
    lambda x: 1 if x in ["Saturday", "Sunday"] else 0
)

df[["day_of_week", "is_weekend"]].head(10)

  day_of_week  is_weekend
0      Monday           0
1      Monday           0
2      Monday           0
3      Monday           0
4      Monday           0
5      Monday           0
6      Monday           0
7      Monday           0
8      Monday           0
9      Monday           0

In [5]:
# Encode Categorical Columns
from sklearn.preprocessing import LabelEncoder

# Create encoders
le_station = LabelEncoder()
le_day = LabelEncoder()
le_line = LabelEncoder()
le_crowd = LabelEncoder()

# Encode features
df["station_enc"] = le_station.fit_transform(df["station"])
df["day_enc"] = le_day.fit_transform(df["day_of_week"])
df["line_enc"] = le_line.fit_transform(df["line"])

# Encode target
df["crowd_enc"] = le_crowd.fit_transform(df["crowd_level"])

# Check encoding
df[["station", "station_enc", "day_of_week", "day_enc", "line", "line_enc", "crowd_level", "crowd_enc"]].head()

,station,station_enc,day_of_week,day_enc,line,line_enc,crowd_level,crowd_enc
0,Andheri,0,Monday,1,Western,2,Low,2
1,Andheri,0,Monday,1,Western,2,Low,2
2,Andheri,0,Monday,1,Western,2,Low,2
3,Andheri,0,Monday,1,Western,2,Low,2
4,Andheri,0,Monday,1,Western,2,Low,2

In [6]:
# Save engineered dataset
df.to_csv("../data/processed/engineered_features.csv", index=False)

print("Engineered dataset saved successfully!")

Engineered dataset saved successfully!